<!doctype html>
<html lang="en">
  <head>
  	<title>Admin Dashboard
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="/css/style2.css">
  </head>
  <body>
		
		<div class="wrapper d-flex align-items-stretch ">
			
        <div class="container">
          <h1 class="text-success text-center">Admin Login</h1>
          <% var message; %>
          <h3 class="text-danger text-center">
            <% var error; var message; %>
            <% if(error){ %>
             <strong>Error: </strong>   <%= error %>
            <%} %>
          </h3>
          <h3 class="text-danger text-center"><%= message %></h3>
          <div class="row">
            <div class="col-sm-1 col-md-3 col-lg-3 col-xl-3"></div>
            <div class="col-sm-10 col-md-6 col-lg-6 col-xl-6">
              <form action="/api/login" method="POST">
                <div class="form-group d-flex">
                  <i class="text-warning fa fa-envelope fa-3x"></i><span> </span>
                  <input type="email" name="email" class="form-control" placeholder="email">
                </div> 
                <div class="form-group d-flex">
                  <i class="text-info fa fa-key fa-3x"></i><span> </span>
                  <input id="password" type="password" name="password" class="form-control" placeholder="password">
                </div>
                <input type="submit" class="btn btn-success">
              </form>
            </div>
            <div class="col-sm-1 col-md-3 col-lg-3 col-xl-3"></div>
          </div>
          
        </div>
      </div>
        </div>
        
    </div>
    </div>

        
    
        
    <!--===============================================================================================-->	
        <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
        <script src="vendor/bootstrap/js/popper.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
        <script src="vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
        <script src="js/script2.js"></script>
    
    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/script3.js"></script>
  </body>
</html>